In [1]:
ages = [12,18,33,84,45,67,12,82,95,16,10,23,43,29,40,34,30,16,44,69,70,74,38,65,36,83,50,11,79,64,78,37,3,8,68,22,4,60,33,82,45,23,5,18,28,99,17,81,14,88,50,19,59,7,44,93,35,72,25,63,11,69,11,76,10,60,30,14,21,82,47,6,21,88,46,78,92,48,36,28,51]

In [3]:
len(ages)

81

In [4]:
ages[0]

12

In [5]:
ages[-1]

51

In [6]:
ages[2:]

[33,
 84,
 45,
 67,
 12,
 82,
 95,
 16,
 10,
 23,
 43,
 29,
 40,
 34,
 30,
 16,
 44,
 69,
 70,
 74,
 38,
 65,
 36,
 83,
 50,
 11,
 79,
 64,
 78,
 37,
 3,
 8,
 68,
 22,
 4,
 60,
 33,
 82,
 45,
 23,
 5,
 18,
 28,
 99,
 17,
 81,
 14,
 88,
 50,
 19,
 59,
 7,
 44,
 93,
 35,
 72,
 25,
 63,
 11,
 69,
 11,
 76,
 10,
 60,
 30,
 14,
 21,
 82,
 47,
 6,
 21,
 88,
 46,
 78,
 92,
 48,
 36,
 28,
 51]

In [11]:
ages[:10][::-1]

[16, 95, 82, 12, 67, 45, 84, 33, 18, 12]

In [25]:
odd = [1,3,5,7,9,11,15,17,19,21]

In [26]:
odd.insert(6,13)

In [27]:
odd

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21]

## strings

In [33]:
greeting = 'Hello'
greeting[::-1]

'olleH'

In [36]:
UK = 'UNITED KINGDOM OF GREAT BRITAIN AND NORTHERN IRELAND'
UK.title()

'United Kingdom Of Great Britain And Northern Ireland'

In [37]:
byron = 'fare thee well and if forever still forever fare thee well'

In [38]:
byron.find('forever')

22

## Functions

### if function

In [54]:
age = int(input())

if age > 18:
    print ('you are in cat A')
elif age > 16:
    print ('you are in cat b')
else:
    print ('you are in cat c')

 5

you are in cat c

### while function

In [62]:
numbers = 1
while numbers <=100:
    squared = numbers ** 2
    print(numbers, squared)

    if squared > 2000:
        break

    numbers += 1

1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100
11 121
12 144
13 169
14 196
15 225
16 256
17 289
18 324
19 361
20 400
21 441
22 484
23 529
24 576
25 625
26 676
27 729
28 784
29 841
30 900
31 961
32 1024
33 1089
34 1156
35 1225
36 1296
37 1369
38 1444
39 1521
40 1600
41 1681
42 1764
43 1849
44 1936
45 2025

In [64]:
initialinvestment = 100
interestrate = 1.1
years = 0
while initialinvestment <=1000:
    initialinvestment *= interestrate
    years +=1
    print(years,initialinvestment)

1 110.00000000000001
2 121.00000000000003
3 133.10000000000005
4 146.41000000000008
5 161.0510000000001
6 177.15610000000012
7 194.87171000000015
8 214.3588810000002
9 235.79476910000022
10 259.37424601000026
11 285.3116706110003
12 313.84283767210036
13 345.2271214393104
14 379.74983358324147
15 417.7248169415656
16 459.49729863572225
17 505.4470284992945
18 555.991731349224
19 611.5909044841464
20 672.7499949325611
21 740.0249944258172
22 814.027493868399
23 895.430243255239
24 984.973267580763
25 1083.4705943388394